<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Configuration.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Configuration.Properties.Settings>
            <setting name="TransportMode" serializeAs="String">
                <value>IOStream</value>
            </setting>
            <setting name="ChannelName_Commands" serializeAs="String">
                <value>commands</value>
            </setting>
            <setting name="ChannelName_Status" serializeAs="String">
                <value>status</value>
            </setting>
        </Configuration.Properties.Settings>
    </userSettings>
</configuration>